<div class="container-fluid d-flex px-0">
  <div class="bg align-self-center animate__animated text-light">
    <div
      style="height: 100%"
      class="row d-flex justify-content-end flex-wrap align-content-center"
    >
      <div style="width: 100%">
        <img src="./assets/images/logoupds.png" class="logo" />
        <p class="animate__animated animate__fadeInLeft programa">
          <b>Programa de Orientación <br />Académico Profesional</b>
        </p>
        <p class="lead testo">Test de Orientación Vocacional</p>
      </div>
      <div style="width: 100%; margin: 2px">
        <button
          class="btn btn-warning animate__animated animate__fadeInRight"
          (click)="AuthGoogle()"
        >
          Comenzar Test
          <i class="fa fa-google" aria-hidden="true"></i>
        </button>
      </div>
      <div style="width: 100%; margin: 2px">
        <button
          class="btn btn-warning animate__animated animate__fadeInRight"
          (click)="AuthLogin()"
        >
          Comenzar Test
          <i class="fa fa-facebook-official" aria-hidden="true"></i>
        </button>
      </div>
    </div>
    <div
      class="d-flex justify-content-center align-content-center"
      style="width: 100%; margin: 10px"
    >
      <a
        style="font-size: 18px"
        href="https://api.whatsapp.com/send?phone=59175122913&text=Hola%20necesito%20ayuda%20para%20iniciar%20sesion"
        class="imgWP"
        target="_blank"
        >AYUDA <img src="./assets/images/wp.png" style="width: 35px"
      /></a>
    </div>
  </div>
</div>
